<section class="container clearfix">
  <h2>Gift show</h2>
  <p class="trim-image-to-circle">
    <%= link_to users_user_path(@gift.user) do %>
	  <%= attachment_image_tag @gift.user, :user_image, format: 'jpeg', size: '100x100', class: "pull-left profile-img rounded-circle mt-3", fallback: "no_image.jpg" %>
    <br><span class="text-dark"><%= @gift.user.name %></span>
  <% end %>
  </p>
  <h5>
    <span class="mr-3">
      <%= @gift.title %>
    </span>
    <span class="badge badge-secondary mr-3">
      <%= @gift.item_name %>
    </span>
    <span class="badge badge-secondary">
      <%= @gift.status %>
    </span>
  </h5>
  <%= @gift.created_at.strftime("%Y-%m-%d %H:%M") %>
  <div class="mt-3">
  <% @gift.item_images.each do |item_image| %>
    <%= attachment_image_tag item_image, :item_image, size: '200x200', format: 'jpeg' %>
  <% end %>
  </div>
  <div class="mt-3 mb-3">
    <%= simple_format (@gift.body) %>
  </div>
  <% if @gift.user == current_user %>
	<div class="index_content">
	  <a class="js-modal-open btn btn-dark mb-3" href="">Edit gift</a>
	</div>
	  <div class="modal js-modal">
	    <div class="modal__bg js-modal-close"></div>
	      <div class="modal__content">
	        <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">Edit gift</h5>
	        <a class="js-modal-close btn btn-dark" href="">×</a>
	      </div>
	        <%= form_for @gift,url:users_gift_path, method: :put, remote: true do |f| %>
	          <%= f.label :item_name %><br>
	          <%= f.text_field :item_name, class:"form-control", placeholder: "item_name" %><br>
	          <%= f.label :Title %><br>
	          <%= f.text_field :title, class:"form-control", placeholder: "title" %><br>
	          <%= f.label :本文 %><br>
	          <%= f.text_area :body, class:"form-control", placeholder: "本文" %><br>
	          <p>image</p>
	          <%= f.attachment_field :item_images_item_images, multiple: true %><br>
	          <%= f.label :status, class: "mt-3" %><br>
	          <p>
	            <%= f.radio_button :status, :Yet %> Yet
	            <%= f.radio_button :status, :Done, class: "ml-5" %> Done
	          </p>
	          <%= f.submit "Update", class:"btn btn-dark" %>
	        <% end %>
	      </div>
	    </div>
	  </div>
    <%= link_to "Destroy", users_gifts_hide_path, method: :put, "data-confirm" =>"Are you sure you want to permanently delete this file?" , class:"btn btn-dark mb-3" %>
  <% else %>
  <% end %>

<p>
  <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Comments
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">

<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <%= form_for @comment,url: users_gift_gift_comments_path(@gift.id), method: :post, remote: true do |f| %>
        <%= f.label :comment, t('.comment')%>
      <% if user_signed_in? %>
        <%= f.text_area :comment, class: "form-control mb-3", placeholder: "comment" , rows: "4" %>
        <%= f.submit "Create", class: "btn btn-dark" %>
      <% end %>
      <% end %>
    </div>
  </div>
  <%= render 'users/gift_comments/comments_area', comments: @comments %>
</div>
</div>
</div>

</section>