<section class="container clearfix">

<div class="index_content">
  <a class="js-modal-open btn btn-dark" href="">New give</a>
  <h2 class="index_content_text">Gives</h2>
</div>
  <div class="modal js-modal">
    <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">New give</h5>
        <a class="js-modal-close btn btn-dark" href="">×</a>
      </div>
        <%= form_for @give,url:users_gives_path, remote: true do |f| %>
          <%= f.label :Title %><br>
          <%= f.text_field :title, class:"form-control", placeholder: "title" %><br>
          <%= f.label :本文 %><br>
          <%= f.text_area :body, class:"form-control", placeholder: "本文" %><br>
          <p>image</p>
          <%= f.attachment_field :item_images_images, multiple: true %>
          <%= f.submit "create", class:"btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>

    <table  class="table table-hover table-inverse">
      <thead = style: background-color:dark;>
        <tr>
          <th>user</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @gives.each do |give| %>
        <tr>
          <td><span><%= give.user.name %></span></td>
          <td><span><%= give.title %></span></td>
          <td><span><%= give.body %></span></td>
          </div>
        </tr>
        <% end %>
      </tbody>
    </table>
</section>