  <table class="table table-hover table-inverse">
      <thead class="thead thead-dark">
        <tr>
          <th>user</th>
          <th>comment</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      	<% comments.each do |comment| %>
      	<tr>
      	  <td>
      	  	<%= link_to users_user_path(comment.user) do %>
              <%= attachment_image_tag comment.user, :user_image, format: 'jpeg', size: '60x60', class: "pull-left profile-img rounded-circle", fallback: "no_image.jpg" %><span class="text-dark"><br><%= comment.user.name %></span>
            <% end %>
          </td>
          <td>
          	<%= comment.comment %>
          </td>
          <td>
          	<span><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          </td>
          <td>
          	<% if user_signed_in? %>
            <% if comment.user == current_user %>
  	        <%= link_to "destroy", users_give_give_comments_path(post.id),method: :put, remote: true,class: "btn btn-dark" %>
  	        <% end %>
  	        <% end %>
  	      </td>
        <% end %>
        </tr>
      </tbody>
    </table>