<!DOCTYPE html>
<html>
  <head>
    <title>Makua</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <header class="headertop", style="padding: 0 50px; margin-bottom: 0px;">
    <div class="nav navbar-nav navbar-left">
      <h1><%= link_to 'makua', root_path, style: "color:white;" %></h1>
    </div>
      <div class="nav navbar-nav navbar-right" style="padding-left: 70%;  line-height: 50px;">
        <% if admin_signed_in? %>
          <%= link_to 'Admin.logout', destroy_admin_session_path, method: :delete, style: "color:white;" %>
        <% elsif user_signed_in? %>
          <div class="row">
            <div style="margin-right: 10px">
              <%= link_to 'Gifts', users_gifts_path, style: "color:white;" %>
            </div>
            <div style="margin-right: 10px">
              <%= link_to 'Posts', users_posts_path, style: "color:white;" %>
            </div>
            <div style="margin-right: 10px">
              <%= link_to 'My page', users_user_path(current_user.id), style: "color:white;" %>
            </div>
            <div>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, style: "color:white;" %>
            </div>
        <% else %>
          <div class="row">
            <div style="margin-right: 10px">
              <%= link_to 'About', users_homes_about_path, style: "color:white;" %>
            </div>
            <div style="margin-right: 10px">
              <%= link_to 'Gifts', users_gifts_path, style: "color:white;" %>
            </div>
            <div style="margin-right: 10px">
              <%= link_to 'Posts', users_posts_path, style: "color:white;" %>
            </div>
            <div style="margin-right: 10px">
              <%= link_to 'Log in', new_user_session_path, style: "color:white;" %>
            </div>
            <div>
              <%= link_to 'Sign up', new_user_registration_path, style: "color:white;" %>
            </div>
          </div>
        <% end %>
      </div>
    </header>
  <body>
    <main>
      <%= yield %>
    </main>
    <footer class="footer navbar-inverse", style="height: 50px; line-height: 50px;">
      <div class="container">
        <p class="nav navbar-nav navbar-right", style="color:white">© All rights reserved by makua.Inc.</p>
      </div>
    </footer>
  </body>
</html>
